.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 6rem;

  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    &-left {
      display: flex;
    }
  }
}

.wh {
  width: 100%;
}

.popup {
  position: fixed;
  left: 0;
  bottom: 5rem;
  width: 650px;
  margin-left: 2rem;
  height: 450px;
  border-radius: 4px;
  background-color: lightseagreen;
}

.login-form {
  padding: 12% 30%;
}

.l-input {
  display: block;
  width: 100%;
  height: calc(2.40875rem + 2px);
  padding: .57rem 1rem;
  font-size: .875rem;
  line-height: 1.45;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfdfdf;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.scrollable-content {
  margin: auto;
  background-color: blanchedalmond;
  overflow: auto;
  height: 600px;
}


