.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 6rem;

  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    &-left {
      display: flex;
    }
  }
}

.wh {
  width: 100%;
}

.popup {
  position: fixed;
  left: 0;
  bottom: 5rem;
  width: 650px;
  margin-left: 2rem;
  height: 450px;
  border-radius: 4px;
  background-color: lightseagreen;
}
