.blog-container {
  height: 600px;
  overflow-x: auto;
  margin-top: 2rem;
}

.blog-layout {
  flex-direction: column;
  position: relative;
  flex: 1;
  max-width: 100%;
  background-color: #111111;
  padding: 6rem;
}

.blog-post-container {
  padding: 2rem 14rem;
}

.blog-post {
  padding: 10px 10px;
  border-radius: 4px;
  border: .5px solid lightgrey;
  min-height: 250px;
}

.blog-info {
  font-weight: 700;
  margin: 20px 0 0;
}

::-webkit-scrollbar {
  display: none;
}

.av-username {
  padding: 10px;
}

.chat-left {
  border: solid 1px lightgray;
}

.chat-text-wrapper {
  padding: 15px;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  background-color: lightblue;

  &.g-avatar {
    width: 60px;
    height: 60px;
  }

  &.g-avatar:not(:first-child) {
    margin-left: 1.5rem;
  }

  &.p-avatar {
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
  }

  &.av-comment {
    width: 35px;
    height: 35px;
  }

  &.av-post {
    width: 50px;
    height: 50px;
  }
}

.chat-left:hover {
  .icon-action {
    display: block;
  }
}

.icon-action {
  display: none;
  width: 20px;
  cursor: pointer;
  height: 20px;
  color: red;
}

