.s-games-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid lightgray;
  max-width: 300px;
}

.av-section-container {
  padding: 5rem;
}

.p-info-container {
  margin-left: 2rem;
  padding: 1rem;
}
